/* Reset
------------------------------------------------------------ */
* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
body { background:#ffffff; font-size: 13px; color: #666666; font-family: "Lato", Lato, Arial, sans-serif;}
ol, ul { list-style: none; margin: 0;}
ul li { margin: 0; padding: 0; font-size: 1.2em;}
h1 { margin-bottom: 10px; color: #111111; font-size: 2em;}	
a, img { outline: none; border:none; color: #000; font-weight: bold;}
p { margin: 0 0 10px; line-height: 1.4em; font-size: 1.2em;}
img { display: block; margin-bottom: 10px;}
aside { font-style: italic; font-size: 0.9em;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display: block;
	}
/*section{ padding: 0px 0; }*/
	
/* Structure */
#wrapper {
	width: 96%;	
	max-width: 920px;
	margin: auto;
	padding: 2%;
	} 

	#main {
		width: 60%;
		margin-right: 5%;
		float: left;
		}

/*article {
	padding: 20px 10px 20px 10px;
	border-bottom: 1px solid #ccc;
}*/
		
	aside {
		width: 30%;
		float: right;
        padding: 20px 20px 0px 0px;
		}
		
/* Nav */
header nav {
	float: right;
	margin-top: 40px; 
	}
	
	header nav li {
		display: inline;
		margin-left: 15px;
		}

img{
	width:100%;
}

.image2 {
	display: none;
}

.posts{
	width:100%;
	padding: 3% 0% 0% 0% ;
	margin:1%;
	float:left;
}



.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	margin-top: 80px;
	clear: left;
}

.footer-basic-centered a {
	color: white;
	text-decoration: none;
}
 
	.footer-basic-centered{
		padding: 10px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		color: white;
		text-decoration: none;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1;
	}	


#skipTo {
	display: none;
	}
	#skipTo li {
		background: #b1fffc;
		}

/* Banner */			
#banner {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	}

	#banner img {
		width: 100%;
		}

#blogposts{
	width:90%;
	margin:auto;
}




/* Media Queries */
@media screen and (max-width: 480px) {

	.image1 {
		display: none;
	}

	.image2 {
		display: block;
	}

	h1 {
		text-align: center;
	}

	aside p{
		text-align: center;
		padding: 0 5% 8% 5%;

	}

	aside ul {
		text-align: center;
	}

	#skipTo {
		display: block;
		}
	
	header nav, #main, aside {
		float: left;
		clear: left;
		margin: 0 0 10px; 
		width: 100%;
		}	
		header nav li {
			margin: 0;
			background: #efefef;
			display: block;
			margin-bottom: 3px;
			}
			header nav a {
				display: block;
				padding: 10px;
				text-align: center;
				}		
}