* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", Lato, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.5;
    background-color: #deeaee;
}

h1, h2, h3, h4, h5 {
	font-weight: 800;
}

h1 {
	color: #dd0000;
}


a {
	color: #dd0000;
	text-decoration: none;
}

header {
    padding: 0;
}

nav {
    margin-top: -7px;
	text-align: center;
	background-color: #333333;
}

nav a {
	color: #ffffff;
	display: block;
	width: 180px;
	float: left;
	padding: 5px 0;
}

nav a:hover {
	background-color: #dd0000;
}

main {
	width: 720px;
	float: left;
}

article {
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}

aside {
	padding-top: 20px;
	float: right;
	width: 320px;
}

aside img{
    padding-top: 30px;
    padding-bottom: 20px;
}

footer {
	clear: both;
	background-color: #333333;
	padding: 20px;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer p {
	float: right;
    color: #ffffff;
    font-size: 13px;
    padding: 7px;
}

ul {
	padding-left: 20px;
}

.topnav:after {
	display: block;
	content: " ";
	clear: both;

	height: 0;
	font-size: 0;
	visibility; hidden;
}


#wrapper {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}